#AnchorPane {
    -fx-background-image: url("hospital.gif");  /* Ensure this image is in the same directory */
    -fx-background-size: 100% 72%;  /* Ensure the image resizes to fit the pane */
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom;  /* Center the image */
}